body{
    /* background-color: red; */
}

.control-panel {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .control-panel-fps canvas {
      display: none;
  }

  .fps-30, .fps-60 {
      display: none;
  }

  .fps-text {
      font-size: x-small;
  }